* {
    font-family: Arial, Helvetica, sans-serif;
    color: #003E1F;
}

body {
    background-color: #D5F2E3;
    margin: 0px;
}
main{
    min-height: 100vh;
}


section {
    border-style: dashed;
    border-color: #D90429;
    margin: 10px 20px;
    padding: 0 30px 10px 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #003E1F;
    padding:10px;
    padding-bottom: 5px;
    position: sticky;
    top:0;
    opacity: 0.9;
}


th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

footer {
    background-color: #D90429;
    padding: 10px 0;
    width:100%;
}

footer>p {
    color: #D5F2E3;
    font-weight: bold;
    font-size: 20px;
}

header>nav>ul {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

header>nav>ul>li {
    display: inline;
    padding: 20px;

}

header>nav>ul>li:hover {
    background-color: #EF233C;
}

header>nav>ul>li>a {
    color: #D5F2E3;
    font-size: 20px;
    text-decoration: none;
}

#logo {
    width: 100px;
    height:100px;
}

#location{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Menu hamburguesa */
#burger{
    max-width:40px;
}

#burger-checkbox{
    display: none;
}

#icons{
    display: flex;
    align-items: center;
    gap:25px;
}

nav{
    display:none;
}

#burger-checkbox:checked ~ nav{
    display:block;
}

/* ******* */

.center {
    text-align: center;
}

.centered-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.formulario-contacto{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:10px;
}

input[type=text],input[type=email],input[type=submit],select{
    height: 30px;
    border-radius: 15px;
}

input[type=submit]:hover{
    background-color: #003E1F;
    color:#D5F2E3;

}

textarea{
    border-radius: 15px;
}

textarea::placeholder{
    position:absolute;
    top:15px;
    left:15px;
}



@media only screen and (min-width: 600px) {

    input[type=text],input[type=email],input[type=submit],select{
        height: 20px;
    }

    .formulario-contacto{
        width:50%
    }

    /**nav bar desktop**/

    #burger{
        display:none;
    }

    header{
        flex-direction: row;
    }

    header>nav>ul {
        display: flex;
        flex-direction: row;
    }

    nav{
        display: block;
    }




}
